NODE_ENV=development
TZ=Asia/Tokyo

ORDER_EXECUTE=false
TARGET_SITE_URL=https://www.obentonet.jp/item_list.html

OBENTO_COMPANY_CODE=
OBENTO_USER_ID=
OBENTO_PASSWORD=

MAIL_FROM=
MAIL_TO=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

GCS_BUCKET_NAME=
